[mariadb]
log_error         = mariadbd.err
log-bin           = mariadb-bin
binlog_format     = row
binlog_row_metadata=FULL
binlog_expire_logs_seconds=86000
server_id=1
slow_query_log    = 1
long_query_time   = 0.4
slow_query_log_file = slow-query.log