[maxscale]
threads=auto
admin_host=0.0.0.0
admin_secure_gui=false
log_debug=true
log_info=true

[mariadb1]
type=server
address=mariadb
port=3306
protocol=MariaDBBackend

[binlog_server1]
type = server
address = 127.0.0.1
port = 7000
protocol = MariaDBBackend

[mariadb_monitor]
type=monitor
module=mariadbmon
servers=mariadb1,binlog_server1
user=maxuser
password=aBcd123%
monitor_interval=1s
auto_failover=false
auto_rejoin=false

# https://mariadb.com/docs/maxscale/reference/maxscale-routers/maxscale-binlogrouter
[binlog_cdc_service]
type=service
router=binlogrouter
user=maxuser
password=aBcd123%
cluster=mariadb_monitor
select_master=true
server_id=7000
expire_log_minimum_files=2
expire_log_duration=96h
odbc_connection_str=DRIVER=/usr/lib64/maxscale/exasol/current/lib/libexaodbc.so;EXAHOST=exasoldb:8563;UID=cdc_user;PWD=aBcd123%;FINGERPRINT=NOCERTCHECK;ANSIDATAENCODING=UTF-8;ANSIARGENCODING=UTF-8;
odbc_perf_ncycles = 4
odbc_perf_max_idle_rows = 400000
odbc_perf_max_buffered_rows = 750000
odbc_perf_nthreads = 1
odbc_perf_batch_size = 210M
odbc_include_tables

[mariadb_exasolrouter]
type=service
router=exasolrouter
user=maxuser
password=aBcd123%
preprocessor=internal:/sqlglot.custom.udf
connection_string=DRIVER=/usr/lib64/maxscale/exasol/current/lib/libexaodbc.so;EXAHOST=exasoldb:8563;UID=sys;PWD=exasol;FINGERPRINT=NOCERTCHECK;
targets=mariadb1

[mariadb_smartrouter]
type=service
router=smartrouter
user=maxuser
password=aBcd123%
targets=mariadb1,mariadb_exasolrouter
master=mariadb1

[mariadb_rw_split]
type=service
router=readwritesplit
user=maxuser
password=aBcd123%
servers=mariadb1

[mariadb_exa_listener]
type=listener
service=mariadb_smartrouter
protocol=MariaDBClient
port=3310

[mariadb_listener]
type=listener
service=mariadb_rw_split
protocol=MariaDBClient
port=3306

[exasol_listener]
type=listener
service=mariadb_exasolrouter
protocol=MariaDBClient
port=3311
